<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"> 
	<title>个人简介</title>
	<link href="css/bootstrap.css" rel="stylesheet" />
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<style>
		#introduction12 .col-md-2{
			text-indent:2em;
		}
		
	</style>
</head>
<body>
<div class="container">
<h2>基本信息</h2>
	<div class="row " id="introduction12">
		<div class="col-md-12 column">
			<table class="table table-hover table-striped">
		<tr>
			<td class="col-md-2">登录名</td>
			<td class="col-md-10">biewusuoqiu@qq.com</td>
		</tr>
		<tr>
			<td class="col-md-2">昵称</td>
			<td class="col-md-10">别无所求</td>
		</tr>
		<tr>
			<td class="col-md-2">真实姓名</td>
			<td class="col-md-10">徐**</td>
		</tr>
		<tr>
			<td class="col-md-2">所在地</td>
			<td class="col-md-10">河北省石家庄</td>
		</tr>
		<tr>
			<td class="col-md-2">性别</td>
			<td class="col-md-10">女</td>
		</tr>
		<tr>
			<td class="col-md-2">生日</td>
			<td class="col-md-10">2000年5月7日</td>
		</tr>
		<tr>
			<td class="col-md-2">血型</td>
			<td class="col-md-10">A型</td>
		</tr>
		<tr>
			<td class="col-md-2">博客地址</td>
			<td class="col-md-10">http://blog.************</td>
		</tr>
		<tr>
			<td class="col-md-2">简介</td>
			<td class="col-md-10">个性随和，平易近人。而且向来坚持“多动脑，少废事”的个人处事原则</td>
		</tr>
		
			</table>
		</div>
	</div>
</div>
	
	
</body>
</html>