<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>消息</title> 
</head>
<body>
	<div class="m_bottom"><!--评论内容-->
						<div class="padder">      
							<div class="streamline  padder-v">
							  <!-- 消息 -->
							 <div class="m-l-lg">
								<a class="pull-left thumb-sm avatar">
								  <img src="images/a5.jpg" alt="...">
								</a>          
								<div class="m-l-xxl panel b-a">
								  <div class="panel-heading pos-rlt">
									<span class="arrow left pull-up"></span>
									<span class="text-muted m-l-sm pull-right">
									  10m ago
									</span>
									<a href="">大张李</a>
									希望你能每天都快乐 <span style="color:blue">@别无所求</span>                        
								  </div>
								</div>
							  </div>
							
  								<!-- 消息 -->
							 <div class="m-l-lg">
								<a class="pull-left thumb-sm avatar">
								  <img src="images/a3.jpg" alt="...">
								</a>          
								<div class="m-l-xxl panel b-a">
								  <div class="panel-heading pos-rlt">
									<span class="arrow left pull-up"></span>
									<span class="text-muted m-l-sm pull-right">
									  20m ago
									</span>
									<a href="">小张李</a>
									希望你能每天都快乐<span style="color:blue">@别无所求</span>                       
								  </div>
								</div>
							  </div>
							

							<!-- 消息 -->
							 <div class="m-l-lg">
								<a class="pull-left thumb-sm avatar">
								  <img src="images/a9.jpg" alt="...">
								</a>          
								<div class="m-l-xxl panel b-a">
								  <div class="panel-heading pos-rlt">
									<span class="arrow left pull-up"></span>
									<span class="text-muted m-l-sm pull-right">
									  30m ago
									</span>
									<a href="">大张伟</a>
									希望你能每天都快乐<span style="color:blue">@别无所求</span>                         
								  </div>
								</div>
							  </div>
							
							<!-- 消息 -->
							 <div class="m-l-lg">
								<a class="pull-left thumb-sm avatar">
								  <img src="images/a8.jpg" alt="...">
								</a>          
								<div class="m-l-xxl panel b-a">
								  <div class="panel-heading pos-rlt">
									<span class="arrow left pull-up"></span>
									<span class="text-muted m-l-sm pull-right">
									  35m ago
									</span>
									<a href="">王小明</a>
									希望你能每天都快乐<span style="color:blue">@别无所求</span>                         
								  </div>
								</div>
							  </div>
							</div>
						  </div>
					</div>
</body>
</html>